@page
@model IndexModel
@{
    ViewData["Title"] = "Stats Engine";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stats Engine</h1>
    <p>My hopes for this project are to create a easy to use friendly tool for statistical analysis for students at SLCC to use for MATH 1030/1035/1040/1045.</p>
</div>
